<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Nikhil@4192</property>
        <property name="hibernate.dialect">org.hibernate.dialect.ProgressDialect</property>
      <!-- create, update, create-drop, validate -->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.default_schema">srimatha</property>
        <property name="show_sql">true</property>
        
        <mapping class="com.srimatha.finance.model.Customer"/>
       	<mapping class="com.srimatha.finance.model.LoanRegistration"/>
 		<!--  <mapping class = "com.bellinfo.hibernate.inheritance.Payment"/>
 		<mapping class ="com.bellinfo.hibernate.inheritance.CreditCardPayment"/>
 		<mapping class ="com.bellinfo.hibernate.inheritance.ChequePayment"/>
 		 
 		
        <mapping resource="payment-per-class.hbm.xml"/>
        <mapping resource="payment-per-subclass.hbm.xml"/>
        <mapping resource="payment-per-concreteclass.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>
